.about-founder {
    margin: 40px 20px;
    display: flex;
    justify-content: space-between;
    height: 45vh;
}

.founder-col {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.founder-img {
    width: 25%;
    border: 1px solid black;
}

.founder-content {
    font-size: 21px;
    width: 60%;
    background-color: #ebeeff;
}