.faq {
    width: 60%;
    margin: 50px 150px;
}

.faq > h3 {
    margin: 10px 0;
    font-size: 25px;
}

.query {
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px 0;
}

.answer {
    display: none;
}

.question:hover + .answer {
    display: block;
}
