.hero {
    background-image: url("../images/beach.jpg");
    height: 100vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

.hero-container {
    margin: 100px 100px 0 0;
    margin: 110px auto;
    border-radius: 5px;
    background-color: white;
    height: 50%;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline {
    color: rgb(255, 0, 0);
    font-variant: small-caps;
    font-size: 70px;
}

.tagline {
    color: #FF8000;
    font-size: 30px;
    text-shadow: 3px  5px 10px whitesmoke;
}
