.introduction {
    margin: 20px 0;
}

.empower, 
.goal, 
.expect {
    margin-top: 20px;
}

.intro {
    background-color: #002183;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 50px auto;
}

.intro > div {
    width: 40%;
}

.intro-image {
    width: 400px;
    margin-right: 20px;
}

.intro > div {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    width: 35%;
}

.intro > div > p {
    font-size: larger;
    margin-top: 10px;
}

.empower h1, 
.goal h1, 
.expect h1 {
    margin: 10px 0;
    font-size: 30px;
    background-color: #002183;
    color: whitesmoke;
    width: 40%;
    padding: 5px 20px;
    border-radius: 5px;
}

.empower p, 
.empower ul, 
.goal p, 
.expect ul {
    font-size: larger;
    background-color: #ebeeff;
    padding: 10px;
    border-radius: 5px;
}


.empower ul, .expect ul {
    list-style: none;
}

.empower span {
    font-weight: bolder;
}

.chatbot-btn, .chatbot-link {
    width: 50px;
    height: 50px;
    background-color: #002183;
    padding: 10px;
    fill: white;
    border-radius: 5px;
    position: fixed;
    bottom: 30px;
    right: 50px;
}

.chatbot-tip {
    opacity: 0;
    border: 1px solid black;
    background-color: white;
    color: black;
    width: fit-content;
    padding: 3px 10px;
    position: fixed;
    bottom: 100px;
    right: 30px;
    border-radius: 5px;
    transition: opacity 0.5s;
}

.chatbot-btn:hover + .chatbot-tip {
    opacity: 1;
}


